<!-- 把用不到的先去掉 -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand"  routerLink="/" routerLinkActive="active">Dating App</a>
<!-- 登入才顯示選單 -->
    <ng-container *ngIf="accountService.currentUser$ | async">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members"routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ng-container>
    <!-- 建立下拉選單 -->
    <!-- 使用ngx-bootstrap的dropdown、dropdownToggle -->
    <!-- text-decoration-none 移除下底線 -->
    <!-- mt-3增加間距 -->
    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as User" dropdown>
      <a class="dropdown-toggle text-light text-decoration-none " dropdownToggle>Welcome {{User.username}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- 調整成輸入帳號密碼 -->
    <!-- autocomplete="off" 關閉表單自動填入功能 -->
    <!-- *ngIf="!loggedIn"登入後隱藏  -->
    <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="!(accountService.currentUser$ | async)">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      <input name="passwird" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>

  </div>
</nav>
